.App {
    background-color: var(--yc-color-base-background);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.App_loading {
    grid-template-rows: 1fr;
    place-items: center;
}
