.Header {
    box-sizing: border-box;
    background-color: rgba(22, 13, 27, .4);
    backdrop-filter: blur(20px);
    box-shadow: inset 0 -1px 0 0 var(--yc-color-line-generic);
    height: 64px;
    padding: 0 48px;

    display: grid;
    grid-template-columns: 1fr repeat(1, auto);
    grid-auto-flow: column;
    align-items: center;
    column-gap: 24px;
}

.Header-ExternalLink {
    display: inline-flex;
}

.Header-ExternalLinkIcon {
    margin-left: 4px;
}
